body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 6px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#logo{
    background-image: url("../img/backgrounds/landing.jpg");
    height: 400px;
    color: white;
    text-align: center;

    /*min-height: 800px;*/
    justify-content: center;
}
#logo img{
    /*margin-left: 450px;*/
    margin-top: 100px;
    height: 200px;
    width: 200px;

}
.happy-hour{
  background-color: #EAE9E9; color: black;  padding: 5px 0px 5px 0px;
}
.happy-time{
  background-color:  #FB4D26; color: white;  padding: 5px 0px 5px 0px;
}
#breakfast{
    background-image: url("../img/foodtop/breakfast.jpg");
    color: white;
    height: 150px;
    text-align: center;
     padding: 5px 0px 5px 0px;

}
#breakfast h2{
    padding: 50px 0px 0px 0px;
}
#lunch{
    background-image: url("../img/foodtop/lunch.jpg");
    color: white; height: 150px;
    background-color: ghostwhite;
    text-align: center;
     padding: 5px 0px 5px 0px;

}
#lunch h2{
      padding: 50px 0px 0px 0px;
}
#dinner{
    background-image: url("../img/foodtop/dinner.jpg");
    color: white;
    height: 150px;
    text-align: center;
   padding: 5px 0px 5px 0px;

}
#dinner h2{
      padding: 50px 0px 0px 0px;
}
#imgrow{
    margin-left: 50px;
    padding: 7px;
    border: 2px;
    max-height: 150px;
    box-shadow: 3px 3px 3px #ccc;
}
#text1{
    margin-right: 10px;
}
#text1 h1 h4 p link{
    text-align: left;
}
#galary1{
    border: 1px solid red;
    width: 150px;
}
#imgrow2{
    margin: 5px;
    padding: 7px;
    border: 2px;
    width: 100px;
     max-height: 120px;
    box-shadow: 0px 2px 4px rgba(34,62,66,.25);
    float: right;
}
#galary2{
    border: 1px solid red;
    width: 150px;
}
.foodlist{
    padding: 50px;
    background-image: url("../img/backgrounds/foodsBg.jpg");
    margin-top: 5px;
}
.custom-wrapper{
    border: 1px solid beige;
    box-shadow: 2px 2px 2px #f1f1f1;
    padding: 20px;
    margin: 200px;
}
.customer-wrapper{
    text-align: center;
    float: left;
}
.about-wrapper{
    float: right;
    border-left: 1px solid gainsboro;
    text-align: center;
    padding: 20px;
}
.subscribeme{
  color: white;
  text-align: center;
   height: 300px;
   background-image: url('../img/backgrounds/subscribe.jpg')
}
#subscribe{
    height: auto;

}
#email{
  width: 300px;
  height: 40px;
  margin: 100px 0px 0px 400px;
  opacity: 0.5;
}
#sub{
    background-color:  #FB4D26;
    margin-top: 100px;
    width: 200px;
    height: 40px;
    margin: 100px 320px 0px 0px;
}
.footer-wrapper{
  background-color: #FB4D26;
  padding: 30px;
  height: 300px;
  text-align: center;
  color: white;
  justify-content: center;

}
.footer-wrapper p h3{
  line-height: 50px;
  letter-spacing: 1px;
}
.footer-logo{
  font-size: 35px;

}
.footer-wrapper p span{
  text-transform: capitalize;
}
